*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;

}

.container {
      margin: 10% auto;
      width: 360px;  
      border: 2px solid black;

}    


.input-area{
    width: 100%;
    padding:20px;
    background-color: black;
    font-size: 3rem;
    text-align: end;
    color: white;


}

.box{
    display: grid; 
    grid-template-columns: repeat(4 , 1fr); 
    font-size: 1.5rem;
    
}

.span-2 {
    grid-column:2 span ;
}
.span-3 {
    grid-column: 3 span;
}
.number{
    
    border: 2px solid black ;
    padding: 20px;
    text-align: center;
    
    
}

.orange{
    background-color: orange;
}
.faded-white{
    background-color: #b3aaaaf6;
}

.number:hover{
    cursor: pointer; 
    background-color: #fff;
    
}
.number:active{
    box-shadow: 0 5px #666;
    border-radius: 5px;
    transform: translatey(1px);
    
}
